html, body {
    height: 100%;
}

button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: silver;
}

.hidden {
    display: none;
}

.selected {
    outline: 2px solid lime;
}

.IntroPage-Heading, .Question > h1  {
    font-family: sans-serif;
    padding: 25px;
    font-size: 6ch;
}

.IntroPage-text, .Question > p {
    font-size: 30px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.begin {
    align-items: center;
    padding: 20px;
}

.btn-option {
    padding: 15px;
    margin: 5px 30px ;
}

.Submit {
    padding: 15px;
    margin: 5px 30px;
}
.Submit:hover {
    
}
